/*
si queiro llamr a mas de una etiqueta las separo por como 
 
etiqueta{
    propiedad : valor;
}
*/
* {
    margin: 0;
    padding: 0;
}

header,
nav,
footer {
    background-color: #626F47;
}

header h1 {
    font-family: "Tagesschrift", system-ui;
    text-align: center;
    color: orange;
    font-size: 56px;
    padding-top: 16px;
}

ul {
    text-align: center;
}

nav ul li {
    display: inline;
    font-size: 24px;
    padding: 5px;
}

/*main section article {
    width: 600px;
    margin: 0 auto;
}*/

main section article div {
    display: inline-block;
    margin: 0 auto;
}

main section article .contenido h2 {
    font-family: "Tagesschrift", system-ui;

}

main section article .contenido p {
    font-family: "Tagesschrift", system-ui;
    font-size: 16px;
    /* width: 300px;> */
    vertical-align: top;
}